<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index.html
<hr>
<form action="/login">
    id:<input type="text" name="userGuid" value="8c7b73c2-f229-11e9-87a9-c4346b03821a">
    name:<input type="text" name="displayName" value="张三">
    allpathname:<input type="text" name="allPathName" value="办公室/张三">
    <input type="submit" value="张三登陆">
</form>
<form action="/login">
    id:<input type="text" name="userGuid" value="a296ba95-f229-11e9-87a9-c4346b03821a">
    name:<input type="text" name="displayName" value="李四">
    allpathname:<input type="text" name="allPathName" value="办公室/李四">
    <input type="submit" value="李四登陆">
</form>
<form action="/login">
    id:<input type="text" name="userGuid" value="b30f826a-f229-11e9-87a9-c4346b03821a">
    name:<input type="text" name="displayName" value="王五">
    allpathname:<input type="text" name="allPathName" value="数据中心/王五">
    <input type="submit" value="王五登陆">
</form>
<form action="/login">
    id:<input type="text" name="userGuid" value="ceeba5be-f229-11e9-87a9-c4346b03821a">
    name:<input type="text" name="displayName" value="孙七">
    allpathname:<input type="text" name="allPathName" value="数据中心/孙七">
    <input type="submit" value="孙七登陆">
</form>
<hr>
insertUI
<a href="/vf/insertUI">insertUI</a>
<hr>
deploy
<a href="/flow/deploy">deploy</a>
</body>
</html>