<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vf</title>
</head>
<body>
insert--
<p/>
<form action="#" th:action="@{/vf/insert}" th:object="${verification}" method="post">
    name:<input type ="text" th:field="*{name}"><br>
    reason:<input type ="text" th:field="*{reason}"><br>
    <input type="submit" name="submit" value="submit">
</form>
<script>
    document.getElementsByName("name")[0].value += randomNum(1,10);
    document.getElementsByName("reason")[0].value += randomNum(1,10);
    //生成从minNum到maxNum的随机数
    function randomNum(minNum, maxNum) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * minNum + 1, 10);
                break;
            case 2:
                return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                break;
            default:
                return 0;
                break;
        }
    }
</script>
</body>
</html>